* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.navstatic {
    position: sticky;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.nav-item.active a.nav-link {
    color: rgb(70, 166, 230);
    font-weight: bold;
}

.custom-img {
    min-width: 100vw; 
    max-height: 25vw; 
    margin: 0vw; 
    object-fit:cover;
}

.home01:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

footer .container {
    display: flex;
    align-items: flex-start;
}

footer img {
    vertical-align: middle;
    width: 50px; 
    height: 50px;
}

.table-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: 1vw 10vw 1vw 11vw;
}

.table-nav table tr {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start   ;
}

fieldset span {
    border: none;
    padding: 1vw;
    display: inline-block;
}

main .container {
    margin-bottom: 2vw;
}

.col-md-4 {
    display: flex;
    align-items: center;
    object-fit:cover;
}

.row {
    padding: 0vw 0vw 0vw 1vw;
}

.card-body p {
    margin: 1vw;
}